#root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
}

.App {
  text-align: center;
  position: relative;
  top: 20%;
}

.paper {
  width: 700px;
  position: relative;
  top: 40px;
  margin: auto;
  height: 300px;
  padding: 20px;
}


.gameInfo h2 {
  display: inline;
  margin: 20px;
}