#root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
}

.App {
  text-align: center;
  position: relative;
  top: 20%;
}

.paper {
  width: 700px;
  position: relative;
  top: 40px;
  margin: auto;
  height: 300px;
  padding: 20px;
}

.gameInfo {
  position: relative;
  width: 100%;
  text-align: left;
}

.gameInfo .left {
  display: inline-block;
  width: 33%;
}

.gameInfo .middle {
  display: inline;
}

.gameInfo .right {
  display: inline;
}

.gameInfo h2 {
  display: inline;
  margin: 20px;
}